*{
    margin: 0;
    padding: 0;
}

nav h2{
color:#fff;
font-size: 25px;
}
nav h2 span {
    font-size: 40px;
}
nav{
 display: flex;
 justify-content:space-around;
 align-items: center;
 justify-items: center;
 background-color: black;
}
nav > ul{
    display: flex;
    margin: 0;
    justify-content:center ;

    align-items: center;
}
nav > ul > li{
    list-style: none;
    margin: 0 10px;
    padding: 15px;
}
nav > ul > li > a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
   
    color:#fff;

}
nav > ul > li > a:hover {
   background-color: black;
   
    color:red;

}
header{
    background-image: url(img/img-b/Screenshot_28.png);
    padding: 220px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position:top left;
}
/* hero aria start */
.searchbox-icon-1 {
 display: flex;
 justify-content: center;
 align-items: center;

}
.searchbox-icon-1 input {
width: 500px;
height: 38px;
border-radius: 5px;
padding-left: 15px;
font-size: 18px;
}
.searchbox-icon-1 i {
    color:red;
    background-color: green;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
main {
    background-color: #20236A;
  padding-top: 20px;
   
}
#section{
    width: 1100px;
    
    margin:0 auto;
    background-color: #20236A;

}
.section-aria-1{
display: flex;
justify-content: space-between;
padding: 0 20px;
padding: 20px 30px;

}
.section-aria-1 h3{
    font-size: 20px;

    color:teal;
}
.section-aria-1 h4 {
    font-size: 20px;
    color: teal;
}
.section-aria-1 h4 span{
    font-size: 20px;
    background-color: aliceblue;
    padding: 3px;
    margin: o 10px;
    color:rgb(22, 173, 173);
    cursor: pointer;
}
.single-items-parent{
    width: 1100px;
    margin:0 auto;
    background-color: #20236A;

}
.single-2{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.single-2 img{
    width: 230px;
    height: 200px;
    box-shadow: 3px 4px #20236A ;
}
.single-1 {
    display: flex;
    justify-content:space-between;
    
    width: 230px;
    height: 100px;
}
.single-1 p {
    color: #fff;
}


